<%= erb :add_product %>

<% if defined? @notice %>
  <div class="flex justify-center" id="notice">
    <div class="w-full max-w-lg">
      <div data-trimmings-remove="#notice" class="cursor-pointer bg-green-100 mb-4 shadow-md border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= @notice %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" data-trimmings-remove="#warning">
          <svg data-trimmings-remove="#notice" class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    </div>
  </div>
<% end %>

<% if defined? @warning %>
  <div class="flex justify-center" id="warning">
    <div class="w-full max-w-lg">
      <div data-trimmings-remove="#warning" class="cursor-pointer bg-red-100 mb-4 shadow-md border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= @warning %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" data-trimmings-remove="#warning">
          <svg data-trimmings-remove="#warning" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    </div>
  </div>
<% end %>

<div class="flex justify-center">
  <form class="w-full max-w-lg" method="post" action="/">
    <div class="flex flex-wrap px-8 pt-6 pb-8 mb-4 bg-white shadow-md rounded">
      <div class="w-full text-center">
        <h2 class="font-semibold text-xl tracking-tight">Products</h2>
      </div>
      <div class="w-full">
        <div id="products" class='pb-10'>
          <% asins.each_with_index do |asin, index| %>
            <% next if asin.empty? %>
            <div class="flex py-2">
              <div class="w-4/5 h-10 py-3 px-1">
                <input name="items[<%= index %>][asin]" value=<%= asin %> class="hover:text-blue-500" readonly>

                <a href="https://www.amazon.com/dp/<%= asin %>" target="_blank" class="text-xs text-gray-600 flex items-center">
                  www.amazon.com/dp/<%= asin %>
                </a>
              </div>
              <div class="w-1/5 h-10 text-right p-3 cursor-pointer">
                <input value="1" min="1" max="10" name="items[<%= index %>][quantity]" type="number" class="w-full text-center bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              </div>
            </div>
          <% end %>
        </div>
        <hr/>
        <div class="flex flex-wrap py-4">
          <div class="w-full md:w-2/4 md:pr-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mt-2" for="grid-first-name">
              Associate Tag
            </label>
            <input value="<%= @tag %>" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" type="text" name="associate_tag">

          </div>

          <div class="w-full md:w-2/4 md:pl-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mt-2" for="grid-state">
              Locale
            </label>
            <div class="relative">
              <select name="locale" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                <option value="US">United States</option>
                <option value="UK">United Kingdom</option>
                <option value="CA">Canada</option>
                <option value="AU">Australia</option>
                <option value="BR">Brazil</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
                <option value="IN">India</option>
                <option value="IT">Italy</option>
                <option value="JP">Japan</option>
                <option value="MX">Mexico</option>
                <option value="SG">Singapore</option>
                <option value="ES">Spain</option>
                <option value="TR">Turkey</option>
                <option value="AE">United Arab Emirates</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="flex bg-grey-light sm:items-center pt-4 text-center">
          <a href="/clear-list" class="w-full px-4 rounded text-blue-400 font-bold p-3 uppercase border-2 border-blue-500 bg-white hover:bg-gray-200">
            Clear
          </a>
        </div>
        <div class="sm:flex bg-grey-light sm:items-center pt-4">
          <div class="flex-grow text-right">
            <% unless asins.empty? %>
              <input type="submit" value="Shorten" class="w-full px-4 rounded bg-blue-400 text-gray-100 font-bold p-3 uppercase border-blue-500 hover:bg-blue-500"/>
            <% else %>
              <input type="submit" value="Shorten" class="w-full px-4 rounded bg-blue-400 text-gray-100 font-bold p-3 uppercase border-blue-500 hover:bg-blue-500 opacity-50 cursor-not-allowed" disabled/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

